.md-typeset h1 {
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    line-height: 1.2;
    font-weight: 800;
    flood-color: black;
}

.md-typeset h2 {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    line-height: 1.2;
    font-weight: 600;
    flood-color: black;
}

.md-typeset h3 {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    flood-color: black;
}

.md-typeset {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    line-height: 1.6;
}

.md-typeset .admonition-title {
    font-size: 14px;
}

.md-typeset .admonition {
    font-size: 14px;
}

.md-typeset table:not([class]) {
    font-size: 14px;
}

.md-typeset table:not([class]) th {
    font-size: 14px;
    background-color: #F0F8FF;
}

/* .md-typeset code {
    font-size: 12px;
} */

.md-nav {
    font-size: 14px;
}
/* YouTube Icon */
.youtube {
    color: #EE0F0F;
}

.red-color {
    color: #EE0F0F;
}